@import "./mixins";
@import "./variables";

html, body {
    font-family: 'Lato', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url("../imgs/back3.jpg") no-repeat fixed center/cover;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    &:after {
        @include subzeroLayover();
    }
    
}


div.glacier{
    min-height: 100%;
    
    
    @include flexCenter(column, center);

    img{
        @include showOnTop(3);
        height: 200px;
        // position: fixed;
        // top: 230px;
    };

    h1{
        @include showOnTop(3);
        text-transform: uppercase;
        color: whitesmoke;
        letter-spacing: 1.2rem;

        span{
            background-color: whitesmoke;
            color: #004158;
            padding: 1rem;
            opacity: .7;
            text-align: center;
            align-self: center;
        }
    }
}

div.subscribe{
    width: 100%;
    height: auto;
    @include showOnTop(3);
    @include flexCenter(column, center);

    h3{
        font-size: 22px;
        text-align: center;
        line-height: 3rem;
        letter-spacing: .3px;
        color: whitesmoke;
        font-weight: 400;
    }
    
    div{
        width: 100%;
        padding: 1rem;
        @include flexCenter(row, center);
    }

    input{
        
        width: 50%;
        padding: 1rem;
        border-radius: 30px 0 0 30px;
        border: none;
        font-size: 20px;
        text-align: center;

        &:focus{
            outline: none;
        }
    }
    button{
       width: 20%;
        background-color: #004158;
        color: whitesmoke;
        padding: 1rem;
        border-radius: 0px 30px 30px 0px;
        border: none;
        font-size: 20px;

        
        
    }
    p#validator-text.valid{

        font-size: 22px;
        color: greenyellow;
        text-align: center;
        /* text-transform: uppercase; */
        font-style: italic;
        position: relative;
        z-index: 10;

    }
    
p#validator-text.invalid {
        font-size: 22px;
        color: red;
        text-align: center;
        font-style: italic;
        position: relative;
        z-index: 10;
    }

}

#about {
    width: 60vw;
    height: auto;
    @include flexCenter(column,
    center);
    @include showOnTop(3);
    // align-content: center;
    margin: auto;
    // background-color: rgba(250, 250, 250, .6);
    padding: 25px;
    border-radius: 7.5px;


    p{
        font-size: 22px;
        text-align: center;
        line-height: 3rem;
        letter-spacing: .3px;
        color: whitesmoke;
        font-weight: 400;
    }

    a{
        text-decoration: none;
        color:whitesmoke;
        font-size: 24px;

        &:hover{
            color: #009e6f;
        }

        i{
            padding: .5rem;
        }
    }
}

div.farm{
    background: url('../imgs/farm.jpg') no-repeat fixed center center/cover;
    min-height: 500px;
    @include showOnTop(3);

    &::after{
        @include blueLayover();
    }

    h1{
        color: whitesmoke;
        padding: 5rem;
        // position: fixed;
    }

   
    
}

#more {
    width: 100%;
    height: auto;
    

    img.mobile{
        display: none;
    }
    

    img{
        padding: 2rem;
        width: 90vw;
        @include showOnTop(3);
        @include flexCenter(column, center);
    }

    h1{
        @include showOnTop(3);
        color: whitesmoke;
        text-transform: uppercase;
        letter-spacing: 1rem;
        padding: 5rem;
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        span{
            background-color: whitesmoke;
            color: #004158;
            padding: 1rem;
            opacity: .7;
            text-align: center;
        }
        
    }
}

div.cart-img{
    background: url('../imgs/carts.jpg') no-repeat fixed center center/cover;
    min-height: 500px;
    @include showOnTop(3);

    &::after{
        @include blueLayover();
    }

}
.coming-soon{
    @include showOnTop(3);
    color: white;
    @include flexCenter(column, center);

    h1{
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    h2{
        // font-size: 24px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }
}

section#hq{
    height: auto;

    h1{
        @include showOnTop(3);
        color: whitesmoke;
        text-transform: uppercase;
        letter-spacing: 1rem;
        padding: 5rem;
        font-weight: 700;
        font-size: 40px;
        text-align: center;

        span{
            background-color: whitesmoke;
            color: #004158;
            padding: 1rem;
            opacity: .7;
        }
    }

    img{
        @include showOnTop(3);
        height: 360px;
        
        &:after{
            @include blueLayover();
        }
    }

   
    div{
        @include flexCenter(row, space-between);
        @include showOnTop(3);


        p{
            font-size: 22px;
            text-align: left;
            line-height: 2.5rem;
            letter-spacing: .3px;
            color: whitesmoke;
            font-weight: 400;
            padding: 2rem;
            
        }

        ul{
            list-style: none;
            text-align: center;
            align-self: center;
        }

        li{
            text-decoration: none;
            text-transform: uppercase;
            color: whitesmoke;
            padding: 1rem;
            text-align: center;
        }

        img{
            padding: 1rem;
        }
    }

}

footer{
    @include flexCenter(row, center);
    @include showOnTop(3);
    position: relative;
        bottom: 0;
        text-align: center;
        border-top: 1px solid whitesmoke;
        width: 100%;
        padding: .5rem;
        margin-top: .5rem;

    
    span{
        text-align: center;
        color: white;
        padding: 1rem;
    }
}




@media screen and (max-width: 767px){

    html{
        margin: 0;
    }

    div.glacier{
        padding: 1rem;

        img{
            height: 100px;
            width: 100%;
        }

        h1{
            text-align: center;
            font-size: 30px;
        }

}

    div.subscribe{
        
        h3{
            font-size: 20px;
            line-height: 2rem;
            width: 80vw;
        }

        input{
            font-size: 16px;
        }
        button{
            font-size: 16px;
            width: auto;
        }

        p#validator-text{
            padding: 1rem;
        }
        
        
            
        }


    section#more{

        

        h1{
            text-align: center;
            font-size: 30px;
            padding: 3rem;
        }

        img.mobile{
            display: block;
            width: 90vw;
            padding: 1rem;
            margin: 0;
        }

        img.desktop{
            display: none;
        }
    }

    #about{
        p{
            font-size: 20px;
            line-height: 2rem;
            width: 80vw;
        }

        a{
            font-size: 16px;
        }
    }

    div.farm{
        background-attachment: scroll;
        
        h1{
            color: whitesmoke;
            @include showOnTop(3);
            align-self: flex-start;
        }
    }

    div.cart-img{
        background-attachment: scroll;
    }

    section#hq{

        height: auto;

        h1{
            text-align: center;
            font-size: 30px;
            padding: 1rem;
        }

        div.top{
            @include flexCenter(column, center);

            p{
                text-align: center;
            }

            img{
                
                &::after{
                    @include blueLayover();
                }
            }
        }
        div.bottom{
            @include flexCenter(column, center);
            text-align: center;

            ul{
                padding: 0;
            }

            img.pkg{
                display: none;
            }

            img.approval{
                height: 220px;
                width: 240px;
            }
        }


    }

    


    div.coming-soon{
        h1{
            font-size: 30px;
            text-align: center;
        }
        h2{
            font-size: 20px;
            text-align: center;
        }
    }

    footer{
        position: relative;
        bottom: 0;
        margin: 0px;
        margin-right: 0;
        text-align: center;
    }
}